
body {
	padding: 0px;
}

.header {
  height: 40px;
  background: #1e5799;
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #213b65 100%);
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#213b65 100%);
  background: linear-gradient(135deg, #1e5799 0%,#213b65 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#213b65',GradientType=1 );
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  color: #ddd;
  font-family: "Fira Sans", sans-serif;
}

.sidebar {
  height: calc(100vh - 40px);
  margin-top: 40px;
  background: #1e5799;
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #213b65 100%);
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#213b65 100%);
  background: linear-gradient(135deg, #1e5799 0%,#213b65 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#213b65',GradientType=1 );
  border-bottom: none;
}

.sidebar .location {
  color: #fff;
  border: none;
  background: none;
  background: #1e5799;
  background: -moz-linear-gradient(-45deg, #1e5799 0%, #213b65 100%);
  background: -webkit-linear-gradient(-45deg, #1e5799 0%,#213b65 100%);
  background: linear-gradient(135deg, #1e5799 0%,#213b65 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#213b65',GradientType=1 );
}

.main-content {
  margin-top: 40px;
}

.theme-picker {
  top: 4px !important;
  right: 4px !important;
  left: auto;
}

#theme-choices {
  right: 0;
  left: auto;
}
#all-types {
  order: 2px solid !important;
  background: none;
  color: #ddd;
}

.block.items ul li a {
  color: #fff;
}
.block.crate h3 {
	color: #ddd !important;
}